.announcement-bar{
  background: #000;
}
.announcement-bar p{
      color: #fff;
}
#shopify-section-header{
  background: rgb(2,0,36);
 background: -moz-linear-gradient(180deg, rgba(2,0,36,0.5) 12%, rgba(9,9,121,0.15) 71%, rgba(255,255,255,0) 95%);
 background: -webkit-linear-gradient(180deg, rgba(2,0,36,0.5) 12%, rgba(9,9,121,0.15) 71%, rgba(255,255,255,0) 95%);
 background: linear-gradient(180deg, rgba(2,0,36,0.5) 12%, rgba(9,9,121,0.15) 71%, rgba(255,255,255,0) 95%);
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#ffffff",GradientType=1);
}
.header-wrapper{
    background: transparent !important;
    background-color: RGBA(255, 255, 255, 0) !important;
}
#MainContent{

  position: relative;
}

/*Nav*/
.header__inline-menu ul li a{
    color:#fff;
}
.header__inline-menu ul li a .header__active-menu-item{
    color:#fff;
}
.top-menu ul{
  display: block;
}

.top-menu,
.header__inline-menu ul li a{
  width:100%;
  font-family:sans-serif;
  text-transform:uppercase;
}

.top-menu ul{
  list-style-type:none;
  overflow:hidden;
  padding: 0;
  margin: 0;
}

.top-menu li{
  float:left;

}
.top-menu ul li a,
.header__inline-menu ul li a{
    font-size: 11px;
}
.top-menu a:link, .top-menu a:visited{
  display:block;
  text-decoration:none;
  padding:5px 15px;
  color: #fff;


}

.top-menu a:active{
  background-color:#D55121;
}
